.page-heading {
  margin-top: 1em;
  margin-top: 0;
  padding-bottom: 1em;
  text-align: center; }

.form-group .setpoints {
  width: inherit;
  display: inline; }

.form-error {
  margin-left: 15px; }

.addPlayer {
  margin-top: 10px;
  margin-bottom: 10px; }
